setuptools==69.5.1
wheel==0.43.0

flask==2.3.3
flask-cors==4.0.0

flask-socketio==5.3.4
python-socketio==5.10.0

pycryptodome==3.19.0
cryptography==41.0.7
kyber-py==1.2.0

python-jose==3.3.0

gunicorn==21.2.0